#Ignore mac hidden file
.DS_Store
# Ignore vagrant files
.vagrant
# ignore wizzy.json since it has current context info
conf/wizzy.json
.idea
basebox/Vagrantfile
templates/grafana.ini
__pycache__
local.env
