[submodule "plugins/globalnoc-networkmap-panel"]
	path = plugins/globalnoc-networkmap-panel
	url = https://github.com/GlobalNOC/globalnoc-networkmap-panel
[submodule "plugins/tsds-grafana"]
	path = plugins/tsds-grafana
	url = https://github.com/GlobalNOC/tsds-grafana
[submodule "plugins/netsage-sankey-plugin"]
	path = plugins/netsage-sankey-plugin
	url = https://github.com/netsage-project/Netsage-SankeyV2 
[submodule "plugins/NetSageNavigation"]
	path = plugins/NetSageNavigation
	url = https://github.com/netsage-project/Netsage-Navigation 
[submodule "plugins/Netsage-Slope_graph"]
	path = plugins/Netsage-Slope_graph
	url = https://github.com/netsage-project/Netsage-Slope_graph.git
[submodule "plugins/science-discipline-map-plugin"]
	path = plugins/science-discipline-map-plugin
	url = https://github.com/netsage-project/science-discipline-map-plugin
[submodule "plugins/netsage-slope-graph-panel"]
	path = plugins/netsage-slope-graph-panel
	url = https://github.com/KatrinaTurner/netsage-slope-graph-panel.git
[submodule "plugins/netsage-bumpchart-panel"]
	path = plugins/netsage-bumpchart-panel
	url = https://github.com/netsage-project/netsage-bumpchart-panel.git
