[submodule "plugins/globalnoc-networkmap-panel"]
	path = plugins/globalnoc-networkmap-panel
	url = https://github.com/GlobalNOC/globalnoc-networkmap-panel
[submodule "plugins/tsds-grafana"]
	path = plugins/tsds-grafana
	url = https://github.com/GlobalNOC/tsds-grafana
[submodule "plugins/netsage-sankey-plugin"]
	path = plugins/netsage-sankey-plugin
	url = https://github.com/netsage-project/Netsage-SankeyV2 
[submodule "plugins/science-discipline-map-plugin"]
	path = plugins/science-discipline-map-plugin
	url = https://github.com/netsage-project/science-discipline-map-plugin
[submodule "plugins/netsage-bumpchart-panel"]
	path = plugins/netsage-bumpchart-panel
	url = https://github.com/netsage-project/netsage-bumpchart-panel
[submodule "plugins/netsage-slopegraph-panel"]
	path = plugins/netsage-slopegraph-panel
	url = https://github.com/netsage-project/netsage-slopegraph-panel.git
[submodule "plugins/netsage-nav-plugin"]
	path = plugins/netsage-nav-plugin
	url = https://github.com/netsage-project/Netsage-Navigation.git
