[submodule "plugins/globalnoc-networkmap-panel"]
	path = plugins/globalnoc-networkmap-panel
	url = https://github.com/GlobalNOC/globalnoc-networkmap-panel
[submodule "plugins/tsds-grafana"]
	path = plugins/tsds-grafana
	url = https://github.com/GlobalNOC/tsds-grafana
[submodule "plugins/netsage-sankey-plugin"]
	path = plugins/netsage-sankey-plugin
	url = https://github.com/uhmlavalab/netsage-sankey-plugin
[submodule "plugins/NetSageNavigation"]
	path = plugins/NetSageNavigation
	url = https://github.com/uhmlavalab/NetSageNavigation
[submodule "plugins/Netsage-Slope_graph"]
	path = plugins/Netsage-Slope_graph
	url = https://github.com/netsage-project/Netsage-Slope_graph.git
